{% extends 'base.html' %}
{% block content %}
<nav class="navigation">
            <div class="container">
                <ul>
                    <li class="home"><a href="{% url 'main_index' %}"><div class="home-image"><i class="fa fa-home"></i></div></a></li>
                    <li class="tel"><a href="#">+375 29 8139716</a></li>
                </ul>
            </div>
</nav>
<main class="main">
    <div class="container">

        <div class="paintings">
            <h1>Картины</h1>
            {% for item in all_paintings %}
            <div class="paintings_item">
                <div class="image_paint_container"><img src="{{item.image.url}}" alt="photo painting"></div>
                <a href="{% url 'painting_detail' painting_id=item.id %}">{{ item.title }}</a>
                <h1>{{item.price}}</h1><br>
                <p>{{item.artist}}</p>
                <form action="{% url 'cart:cart_add' painting_id=item.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину">
                </form>
            </div>
            {%endfor%}

        </div>
    </div>
</main>

{% endblock %}