{% extends 'base.html' %}

{% block content %}
<nav class="navigation">
            <div class="container">
                <ul>
                    <li class="home"><a href="{% url 'main_index' %}"><div class="home-image"><i class="fa fa-home"></i></div></a></li>
                    <li class="tel"><a href="#">+375 29 8139716</a></li>
                </ul>
            </div>
</nav>
<main class="main">
    <div class="container">
        <div class="painting-detail">
            <img class="main-image" src="{{ painting.image.url }}" alt="photo painting"> <!-- Перемещено влево -->
            <div class="details">
                <h1>{{ painting.title }}</h1>
                <h2>Автор: {{ painting.artist }}</h2>
                <h3>Цена: {{ painting.price }}</h3>
                <div class="about-painting">
                    <h2>{{ about_painting.title }}</h2>
                    <p>{{ about_painting.description }}</p>
                    <h3>Дополнительная цена: {{ about_painting.price }}</h3>
                </div>
                <form action="{% url 'cart:cart_add' painting_id=painting.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Добавить в корзину">
                </form>
            </div>
        </div>
        <div class="additional-images">
            <img src="{{ about_painting.image1.url }}" alt="additional image 1">
            <img src="{{ about_painting.image2.url }}" alt="additional image 2">
            <img src="{{ about_painting.image3.url }}" alt="additional image 3">
            <img src="{{ about_painting.image4.url }}" alt="additional image 4">
        </div>
    </div>
</main>
{% endblock %}
