{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="navigation">
            <div class="container">
                <ul>
                    <li class="home"><a href="{% url 'main_index' %}"><div class="home-image"><i class="fa fa-home"></i></div></a></li>
                    <li class="tel"><a href="#">+375 29 8139716</a></li>
                </ul>
            </div>
</nav>
<main class="main">
    <div class="container">
        <div class="about_education">
            <h2 class="title">{{about.title}}</h2>
            <p>{{about.description}}</p><br>
            <div class="course-details">
                кошт: <span class="price">{{about.price}}</span>
            </div>
            <div class="course-details">
                працягласць: <span class="duration">{{about.duration}}</span>
            </div>
            <div><a href="{% url 'join_up_form' %}"><button type="button" class="promo_button">Запісацца на заняток</button></a></div><br>

            <div class="ed_image">
                <img src="{{about.image.url}}" alt="photo education">
            </div>
            <div class="ed_image">
                <img src="{{about.image_2.url}}" alt="photo education">
            </div>
            <div class="ed_image">
                <img src="{{about.image_3.url}}" alt="photo education">
            </div>
        </div>
    </div>
</main>

{% endblock %}