{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navigation">
            <div class="container">
                <ul>
                    <li class="home"><a href="{% url 'main_index' %}"><div class="home-image"><i class="fa fa-home"></i></div></a></li>
                    <li class="tel"><a href="#">+375 29 8139716</a></li>
                </ul>
            </div>
</nav>
<main class="main">
    <div class="container">
        <div class="about_mk">
            <h1>{{about_mk.title}}</h1>
            <div class="ed_image">
                <img src="{{about_mk.image.url}}" alt="photo education">
            </div>
            <div class="ed_image">
                <img src="{{about_mk.image_2.url}}" alt="photo education">
            </div>
            <div class="ed_image">
                <img src="{{about_mk.image_3.url}}" alt="photo education">
            </div>
            <p>{{about_mk.description}}</p>
            <h2>{{about_mk.price}}</h2>
            <h2>{{about_mk.level}}</h2>
            <h2>{{about_mk.duration}}</h2>

        </div>
    </div>
</main>

{% endblock %}